### 문자열 삽입

In [1]:
a = "apple"
b = ".".join(a)
print(b)

a.p.p.l.e

### 딕셔너리 키-값 추가와 삭제

In [3]:
a = {'name':'John'}
a['age'] = 30
a['house'] = 'appartment'
a['birth'] = [11, 8]

print(a)

del a['house']

print(a)

{'name': 'John', 'age': 30, 'house': 'appartment', 'birth': [11, 8]}
{'name': 'John', 'age': 30, 'birth': [11, 8]}

### 딕셔너리 키 리스트 만들기

In [5]:
a = {'name':'John', 'age':30, 'birth':[11,8]}

b=a.keys()
print('b:', b)
c=list(a.keys())
print('c:', c)

b: dict_keys(['name', 'age', 'birth'])
c: ['name', 'age', 'birth']

### 딕셔너리 값 리스트 만들기

In [6]:
a = {'name':'John', 'age':30, 'birth':[11,8]}

b = a.values()
print('b:', b)
c=list(a.values())
print('c:', c)

b: dict_values(['John', 30, [11, 8]])
c: ['John', 30, [11, 8]]

### 딕셔너리 키-값 리스트 만들기

In [7]:
a = {'name':'John', 'age':30, 'birth':[11,8]}

b = a.items()
print('b:', b)
c=list(a.items())
print('c:', c)

b: dict_items([('name', 'John'), ('age', 30), ('birth', [11, 8])])
c: [('name', 'John'), ('age', 30), ('birth', [11, 8])]

### 딕셔너리 키로 값 호출하기

In [9]:
a = {'name':'John', 'age':30, 'birth':[11,8]}

d = a.get('house')
print(d)

e = a.get('house', 'No Data')
print(e)

None
No Data

### 집합 자료형 교집합

In [11]:
a = set([1, 2, 3, 4, 5])
b = set([3, 4, 5, 6, 7])

c = a & b
print(c)
d = a.intersection(b)
print(d)

{3, 4, 5}
{3, 4, 5}

### 집합 자료형 합집합

In [12]:
a = set([1, 2, 3, 4, 5])
b = set([3, 4, 5, 6, 7])

c = a|b
print(c)
d = a.union(b)
print(d)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

### 집합 자료형 차집합

In [13]:
a = set([1, 2, 3, 4, 5])
b = set([3, 4, 5, 6, 7])

c = a - b
print(c)
d = a.difference(b)
print(d)

{1, 2}
{1, 2}

### while문 기본 구조

In [14]:
a = 0

while a<5:
    print('a is %s' % a)
    a += 1

print("while문 종료")

a is 0
a is 1
a is 2
a is 3
a is 4
while문 종료

### while문 조건 변경

In [15]:
a = 0
b = ['사과', '바나나', '토마토']

while a<len(b):
    print('바구니에서 %s를 꺼냄' % b[a])
    a = a+1
    
print('바구니에 아무것도 남지 않음')

바구니에서 사과를 꺼냄
바구니에서 바나나를 꺼냄
바구니에서 토마토를 꺼냄
바구니에 아무것도 남지 않음

### while문 continue 활용

In [16]:
a=0

while a<10:
    a = a+1
    if a%2 == 0:
        continue
    print(a)

1
3
5
7
9

### for문과 if문 활용

In [17]:
a = [90, 25, 67, 45, 80]
b = sum(a)/len(a)
print('평균은', b)

for i in a:
    if i > b:
        print("%d 는(은) 평균보다 크다" %i)
    else:
        print("%d 는(은) 평균보다 작거나 같다" %i)

평균은 61.4
90 는(은) 평균보다 크다
25 는(은) 평균보다 작거나 같다
67 는(은) 평균보다 크다
45 는(은) 평균보다 작거나 같다
80 는(은) 평균보다 크다

### for문과 range문 활용

In [19]:
for i in range(2, 10):
    for j in range(1, 10):
        print(i * j, end=' ')
    print(' ')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81